<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tree-list</title>
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>树形视图</h2>
        <ul>
            <tree :items="nodes"></tree>
        </ul>
    </div>
    
    <script>
    Vue.component('tree',{
            props:["items"],
            data: function () {
                return {
                    isOpen: false
                }
            },
            computed: {
                //判断是否有孩子
                isFolder() {
                    return this.items.children && this.items.children.length
                }
            },
            methods:{
                addItem(){
                    this.items.children.push({name:'new-node',children:null})
                },
                itemOpen(){
                    if(this.isFolder)
                    this.isOpen=!this.isOpen;
                },
                toFolder(){
                    if (this.isFolder) {
                        this.isOpen = false
                    }
                }
            },
            //tree模板递归
            template:`
                <ul>
                    <li @click.stop="itemOpen()" @dblclick.stop="toFolder()">{{items.name}}
                        <span v-if="isFolder">[{{isOpen?'-':'+'}}]</span>
                    </li>
                    <ul v-if="isOpen">
                        <tree v-for="i in items.children" :items="i"></tree>
                        <li @click="addItem">+</li>
                    </ul>
                </ul>
            `
        })
        var vm=new Vue({
            el:'#app',
            data:{
                // 数据流
                nodes:
                    {
                        name:'My tree',
                        children:[
                            {name:'hello'},
                            {name:'world'},
                            {
                                name:'children',
                                children:[
                                    {
                                        name:'children',
                                        children:[
                                            {name:'hello'},
                                            {name:'world'},
                                        ]                                        
                                    },
                                    {name:'hello'},
                                    {name:'world'},
                                    {
                                        name:'children',
                                        children:[
                                            {name:'hello'},
                                            {name:'world'},
                                        ]                                        
                                    },
                                ]
                            }
                        ]
                    }
                
            }
        })
    </script>
</body>
</html>