<!DOCTYPE html>
<html>
  <head>
    <title>用户注销</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>欢迎</h1>
    <P>退出登录成功 <a href="login">重新登陆</a></P>
  </body>
</html>
